# USE CASES

# Expected Output: This assignment consists of 500 marks and has to be submitted in .ipynb/PDF format in the upcoming session for evaluation.

In [1]:
#1) Write a Python program which accepts a list named : randomList = ['a', 0, 2].
#Use exception handling using try-catch which gives the output as: 
# 1) If the List element is a alphabet or string, the output will be The entry is a 
# Oops! <class 'ValueError'>occured. Next entry. 
# 2) If the List element is “0”,the output will be The entry is 0  Oops! <class ' ZeroDivisionError’>occured. Next entry. 
# 3) If the List element is and integer except 0,then output will be The entry is 2 
# The reciprocal of 2 is 0.5 // reciprocal of an integer

import sys

randomList = ['a', 0, 2]
for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Oops!",sys.exc_info()[0],"occured.")
        print("Next entry.")
        print()
print("The reciprocal of",entry,"is",r)

The entry is a
Oops! <class 'ValueError'> occured.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occured.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

In [2]:
# 2) Array out of Bound Exception 
# Write a Python program to give exception “Array Out of Bound” if the user wants to access the elements
# beyond the list size (use try and except) 

a = [1, 2, 3]
i = int(input("Enter index:"))
try:  
    print("Element:",a[i])   
  
except IndexError: 
    print("Array Out of Bound")

Enter index:5
Array Out of Bound

In [3]:
#3) Write a python module script that contains fib2() method to calculate the Fibonacci series till 1000 
# and save it as fibo.py.

import fibo

print(fibo.fib2(1000))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [4]:
#4) Write a python module script that contains ispalindrome() method to calculate the input string as palindrome string 
#   or not and save it as palindrome.py

from palindrome import *
s = input("Enter String:")
result = isPalindrome(s) 
  
if result == 1: 
    print("Is Palindrome") 
else: 
    print("Not Palindrome")

Enter String:malayalam
Is Palindrome

In [5]:
#5) Write a program in Python with one class called Cipher. Within the constructor of this class, ask user for a string 
#and store it. Use a static variable, key to store a randomly generated integer between 1 and 50 inclusive. 
#Implement two methods, encrypt and decrypt within this class. Encrypt generates and prints a cipher text using 
#the user-entered string and the key and ecrypt generates decrypted string from ciphertext. The cipher only encrypts 
#alpha and numeric (A-Z, a-z, 0-9). All Symbols, such as - , ; %, remain unencrypted. The cipher text can have special 
#characters. Use generator expression to filter out alpha and numeric characters of the input string and to generate cipher 
#text. Create an instance of this class, encrypt and decrypt back the user entered string. 

import random
class cipher:
    def __init__(self):
        self.string = input("Enter String:")
        self.key = random.randint(1,51)
    def encrypt(self): 
        self.ciphertext = ''
        for i in (chr(((ord(char) - 65 + self.key) % 26) + 65)
                             if char.isupper() & char.isalpha() else chr(((ord(char) - 97 + self.key) % 26) + 97) 
                             if char.islower() & char.isalpha() else chr((ord(char) + self.key - 48) % 10 + 48) 
                            if char.isdigit() else char for char in self.string):
            self.ciphertext += i
        print("Key:", self.key)
        print("Encrypted String: ",self.ciphertext)
        
    def decrypt(self): 
        decrypted_string = ''
        for i in (chr(((ord(char) - 65 - self.key) % 26) + 65)
                             if char.isupper() & char.isalpha() else chr(((ord(char) - 97 - self.key) % 26) + 97) 
                             if char.islower() & char.isalpha() else chr((ord(char) - self.key - 48) % 10 + 48) 
                            if char.isdigit() else char for char in self.ciphertext):
            decrypted_string += i
        print('Decrypted String:',decrypted_string)
        

obj = cipher()
obj.encrypt()
obj.decrypt()

Enter String:Te$t th!s $tr!ng 123
Key: 10
Encrypted String:  Do$d dr!c $db!xq 123
Decrypted String: Te$t th!s $tr!ng 123

In [ ]:
#6) Get Data from the following link: 
#http://files.grouplens.org/datasets/movielens/ml-20m.zip 
#We will be using the following files for this exercise: 
#ratings.csv : userId,movieId,rating, timestamp  
#tags.csv : userId,movieId, tag, timestamp  
#movies.csv : movieId, title, genres

In [26]:
# I. Read the dataset using pandas. 

import requests, zipfile, io
import pandas as pd
url = 'http://files.grouplens.org/datasets/movielens/ml-20m.zip'
r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
ratings = pd.read_csv(z.extract('ml-20m/ratings.csv'))
tags = pd.read_csv(z.extract('ml-20m/tags.csv'))
movies = pd.read_csv(z.extract('ml-20m/movies.csv'))

In [27]:
print(ratings.head(2))
print(tags.head(2))
print(movies.head(2))

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
   userId  movieId          tag   timestamp
0      18     4141  Mark Waters  1240597180
1      65      208    dark hero  1368150078
   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [29]:
#II. Extract the first row from tags and print its type. 
print(5*'*',"Extracting as DF",5*'*')
df = tags.head(1)
print(df)
print("Type:", type(df),'\n') # Extraction as DataFrame

print(5*'*',"Extracting as Series",5*'*')
s = tags.loc[0]
print(s,type(s)) #Extraction as Series

***** Extracting as DF *****
   userId  movieId          tag   timestamp
0      18     4141  Mark Waters  1240597180
Type: <class 'pandas.core.frame.DataFrame'>

***** Extracting as Series *****
userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object <class 'pandas.core.series.Series'>

In [32]:
#III.  Extract row 0, 11, 2000 from tags DataFrame. 
print(tags.loc[[0,11,2000]])

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

In [33]:
#V.Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().
print("Count:",ratings['rating'].count())
print("Mean:",ratings['rating'].mean())
print("Standard Deviation:", ratings['rating'].std())
print("Min:", ratings['rating'].min())
print(ratings['rating'].quantile([0.25]))
print("Median",ratings['rating'].median())
print(ratings['rating'].quantile([0.75]))
print("Min:", ratings['rating'].max())

Count: 20000263
Mean: 3.5255285642993797
Standard Deviation: 1.051988919275684
Min: 0.5
0.25    3.0
Name: rating, dtype: float64
Median 3.5
0.75    4.0
Name: rating, dtype: float64
Min: 5.0

In [34]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [36]:
#VI.   Filter out ratings with rating > 5

Filter = ratings["rating"] > 5
ratings.where(Filter).dropna()

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [37]:
#VII. Find how many null values, missing values are present. Deal with them. Print out how many rows have been  modified.
print("Ratings:" ,ratings.isnull().values.any())
print("Movies:", movies.isnull().values.any())
print("Tags:" ,tags.isnull().values.any())
print("No.of missing values in Tags:", tags.isnull().sum().sum())
print(tags.isnull().sum())
tags['tag'].fillna('sci-fi',inplace = True)

Ratings: False
Movies: False
Tags: True
No.of missing values in Tags: 16
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [38]:
#VIII. Filter out movies from the movies DataFrame that are of type 'Animation'. 
movies[movies['genres'].str.contains('Animation')].head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
236,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance
241,244,Gumby: The Movie (1995),Animation|Children

In [40]:
#IX. Find the average rating of movies.
ratings['rating'].mean()

3.5255285642993797

In [41]:
#X. Perform an inner join of movies and tags based on movieId.
movies_tags = pd.merge(movies,tags,how='inner',on='movieId')
movies_tags.head(5)

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573

In [42]:
#XI. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4. 
movies_ratings = pd.merge(movies,ratings, how='inner',left_on='movieId',right_on = 'movieId')
movies_ratings = movies_ratings.where(movies_ratings.rating > 4)
movies_ratings.fillna('unknown',inplace = True)
movies_ratings[movies_ratings['genres'].str.contains('Comedy')].head(5)

,movieId,title,genres,userId,rating,timestamp
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5,8.58275e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1.23086e+09
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1.22531e+09
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,5,8.55177e+08
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,34,5,8.46509e+08

In [43]:
#XII. Split 'genres' into multiple columns. 
new = movies['genres'].str.split("|",n=5,expand = True)
new.dtypes
movies["Type1"] = new[0]
movies["Type2"] = new[1]
movies["Type3"] = new[2]
movies["Type4"] = new[3]
movies["Type5"] = new[4]
movies.head(5)

,movieId,title,genres,Type1,Type2,Type3,Type4,Type5
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,Animation,Children,Comedy,Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,Children,Fantasy,None,None
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,Romance,None,None,None
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,Drama,Romance,None,None
4,5,Father of the Bride Part II (1995),Comedy,Comedy,None,None,None,None

In [44]:
#XIII. Extract year from title e.g. (1995).
movies['title'].str.extract("\((.*)\)").head(5)

      0
0  1995
1  1995
2  1995
3  1995
4  1995

In [46]:
#XIV. Select rows based on timestamps later than 2015-02-01. 
import datetime
date_time_str = '2015-02-01'  
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d')

Filter = pd.to_datetime(ratings['timestamp']).apply(lambda x: x.date()) > date_time_obj.date()
ratings.where(Filter).dropna().head(5)

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []